XMLExample/WebContent/department.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/department" 
	xmlns:tns="http://www.example.org/department"
	elementFormDefault="qualified">
	<xs:element name="department">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="did" type="xs:integer" />
				<xs:element name="dname" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



</xs:schema>